<!-- +++++ Footer Section +++++ -->

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Footprints</h4>
					<p>
						Find me on
                        <a href="https://github.com/doobeh">Github</a>,
                        <a href="https://twitter.com/ergoio">Twitter</a>,
                        or wandering around the island of
                        Providenciales in the Turks and Caicos.<br/>


					</p>
				</div><!-- /col-lg-4 -->
			</div>

		</div>
	</div>