{% extends "base.html" %}
{% block content %}
{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
<div id="{{ loop.cycle('white', 'grey') }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <h4><a href="{{ SITEURL }}/{{ article.url }}"
                           rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">
                        {{ article.title }}
                    </a></h4>
                    {% if article.series %}
                    <div class="callout callout-info">
                        <p class="">
                            This post is part {{ article.series.index }} of the <a href="#series-info">{{ article.series.name|capitalize }} series</a>
                        </p>
                    </div>
                    {% endif %}
                    {{ article.content }}
                    <p>
                        <bd>Created {{ article.locale_date }}
                            {%- if article.tags %}, Tagged

                                {% for tag in article.tags %}
                                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                                {% if not loop.last %}
                                /
                                {% endif %}
                                {% endfor %}

                            {% endif %}
                        </bd>
                    </p>
                </article>
                <hr/>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endif %}

{% include 'includes/pagination.html' %}
{% endblock content %}
